<div id="map-canvas"></div>

<div id="maincontainer">
	<div id ="leftcontainer">
		<div id="searchdiv">
			<div id="search">
				<p>Search</p>
			</div>
		</div>

		<div id="searchboxes">
			<input id="location_one" class="controls" type="text" placeholder="Location One">
			<input id="location_two" class="controls" type="text" placeholder="Location Two">
			<input id="what_do" class="controls" type="text" placeholder="What do you want to do?">
		</div>
	</div>

	<!-- FIXME: only <li> is allowed inside <ul> -->
	<ul id="results">
		<div id="back">
			<p>Back</p>
		</div>

		<h1>Best Midpoint Options</h1>
	</ul>
</div>
